<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CMS" connectionString="Data Source=DESKTOP-F5AKH99\SQLEXPRESS; Initial Catalog=CafeManagementSystem; Integrated Security=true" providerName="System.Data.SqlClient" />
    <!--<add name="CafeManagementSystemEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;Data Source=DESKTOP-F5AKH99;Initial Catalog=CafeManagementSystem;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />
    <add name="CafeManagementSystemEntities1" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=System.Data.SqlClient;Data Source=DESKTOP-F5AKH99;Initial Catalog=CafeManagementSystem;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />--> 
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>